{
  "info": {
    "title": "Director API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://director.odience.com/api"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/health": {
      "get": {
        "operationId": "health.ok",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/health/liveOk": {
      "get": {
        "operationId": "health.liveOk",
        "parameters": [
          {
            "name": "max_outputs",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "message"
                        },
                        "data": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "event",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "done"
                        },
                        "data": {},
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "event"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "error"
                        },
                        "data": {},
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "event"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "x-is-sse": true
      }
    },
    "/api/events": {
      "get": {
        "operationId": "events.listEvents",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 9007199254740991
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "current_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 9007199254740991
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_events": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "per_page": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "current_page": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "namespace": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "date": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "featured": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "brand": {
                            "type": "object",
                            "properties": {
                              "show_brand_panel": {
                                "type": "boolean"
                              },
                              "brand_title": {
                                "type": "string"
                              },
                              "brand_subtitle": {
                                "type": "string"
                              },
                              "brand_background_color": {
                                "type": "string"
                              },
                              "brand_text_color": {
                                "type": "string"
                              },
                              "brand_image_url": {
                                "type": "string"
                              },
                              "brand_background_image_url": {
                                "type": "string"
                              },
                              "brand_ad_image_url": {
                                "type": "string"
                              },
                              "brand_background_opacity": {
                                "type": "number"
                              },
                              "brand_logo_padding": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "show_brand_panel",
                              "brand_title",
                              "brand_subtitle",
                              "brand_background_color",
                              "brand_text_color",
                              "brand_image_url",
                              "brand_background_image_url",
                              "brand_ad_image_url",
                              "brand_background_opacity",
                              "brand_logo_padding"
                            ],
                            "additionalProperties": {}
                          },
                          "featured_catalogue": {
                            "type": "object",
                            "properties": {
                              "image_alignment": {
                                "type": "string"
                              },
                              "blurred_background": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": {}
                          },
                          "organization": {
                            "type": "string"
                          },
                          "organization_image_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "owner_id": {
                            "type": "string"
                          },
                          "organization_id": {
                            "type": "string"
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "category": {
                            "type": "string"
                          },
                          "categoryImage": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "capacity": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "coordinates": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "lat": {
                                    "type": "number"
                                  },
                                  "lng": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": {}
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_5g": {
                            "type": "boolean"
                          },
                          "imageUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "min_price": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ticket_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ticket_platform": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "map_image_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "promo_video_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "promo_video_aspect_ratio": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "has_ricoh_stream": {
                            "type": "boolean"
                          },
                          "payed": {
                            "type": "boolean"
                          },
                          "invitation_message": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "invitations_only": {
                            "type": "boolean"
                          },
                          "usersConnected": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "invitation_accepted": {
                            "type": "boolean"
                          },
                          "invitation_requested": {
                            "type": "boolean"
                          },
                          "registered": {
                            "type": "boolean"
                          },
                          "usersInterestedCount": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "banned": {
                            "type": "boolean"
                          },
                          "blocked": {
                            "type": "boolean"
                          },
                          "opened": {
                            "type": "boolean"
                          },
                          "pre_access": {
                            "type": "boolean"
                          },
                          "web_allowed": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "app_allowed": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "appUrl": {
                            "type": "string"
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": {}
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "downloads": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "total_events",
                    "per_page",
                    "current_page",
                    "events"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/events/{id}": {
      "get": {
        "operationId": "events.get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "namespace": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "date": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "featured": {
                      "type": "boolean"
                    },
                    "location": {
                      "type": "string"
                    },
                    "brand": {
                      "type": "object",
                      "properties": {
                        "show_brand_panel": {
                          "type": "boolean"
                        },
                        "brand_title": {
                          "type": "string"
                        },
                        "brand_subtitle": {
                          "type": "string"
                        },
                        "brand_background_color": {
                          "type": "string"
                        },
                        "brand_text_color": {
                          "type": "string"
                        },
                        "brand_image_url": {
                          "type": "string"
                        },
                        "brand_background_image_url": {
                          "type": "string"
                        },
                        "brand_ad_image_url": {
                          "type": "string"
                        },
                        "brand_background_opacity": {
                          "type": "number"
                        },
                        "brand_logo_padding": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "show_brand_panel",
                        "brand_title",
                        "brand_subtitle",
                        "brand_background_color",
                        "brand_text_color",
                        "brand_image_url",
                        "brand_background_image_url",
                        "brand_ad_image_url",
                        "brand_background_opacity",
                        "brand_logo_padding"
                      ],
                      "additionalProperties": {}
                    },
                    "featured_catalogue": {
                      "type": "object",
                      "properties": {
                        "image_alignment": {
                          "type": "string"
                        },
                        "blurred_background": {
                          "type": "boolean"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "organization": {
                      "type": "string"
                    },
                    "organization_image_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "owner_id": {
                      "type": "string"
                    },
                    "organization_id": {
                      "type": "string"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "category": {
                      "type": "string"
                    },
                    "categoryImage": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "capacity": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "coordinates": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "lat": {
                              "type": "number"
                            },
                            "lng": {
                              "type": "number"
                            }
                          },
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "is_5g": {
                      "type": "boolean"
                    },
                    "imageUrl": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "min_price": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ticket_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ticket_platform": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "map_image_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "promo_video_url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "promo_video_aspect_ratio": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "has_ricoh_stream": {
                      "type": "boolean"
                    },
                    "payed": {
                      "type": "boolean"
                    },
                    "invitation_message": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "invitations_only": {
                      "type": "boolean"
                    },
                    "usersConnected": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "complete": {
                      "type": "boolean"
                    },
                    "invitation_accepted": {
                      "type": "boolean"
                    },
                    "invitation_requested": {
                      "type": "boolean"
                    },
                    "registered": {
                      "type": "boolean"
                    },
                    "usersInterestedCount": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "banned": {
                      "type": "boolean"
                    },
                    "blocked": {
                      "type": "boolean"
                    },
                    "opened": {
                      "type": "boolean"
                    },
                    "pre_access": {
                      "type": "boolean"
                    },
                    "web_allowed": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "app_allowed": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "appUrl": {
                      "type": "string"
                    },
                    "settings": {
                      "type": "object",
                      "additionalProperties": {}
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "downloads": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/events/listEventsLive": {
      "post": {
        "operationId": "events.listEventsLive",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "not": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "message"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "pattern": "^-?[0-9]+$",
                              "x-native-type": "bigint"
                            },
                            "name": {
                              "type": "string"
                            },
                            "location": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "location_info": {
                              "anyOf": [
                                {},
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "owner_id": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "duration": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "date": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "capacity": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "description": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "category": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "is_public": {
                              "type": "boolean"
                            },
                            "profanity": {
                              "type": "boolean",
                              "default": true
                            },
                            "is_5g": {
                              "anyOf": [
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "created_at": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "default": 1746167168
                            },
                            "updated_at": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "default": 1746167168
                            },
                            "latitude": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "pattern": "^-?\\d{1,10}(?:\\.\\d{1,8})?$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "longitude": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "pattern": "^-?\\d{1,10}(?:\\.\\d{1,8})?$"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "image_uid": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "promo_video_url": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "invitations_only": {
                              "type": "boolean"
                            },
                            "is_draft": {
                              "type": "boolean"
                            },
                            "payed": {
                              "type": "boolean"
                            },
                            "image_url": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "brand_image_url": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "brand_background_image_url": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "brand_ad_image_url": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "featured": {
                              "anyOf": [
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "hashtags": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "app_allowed": {
                              "type": "boolean",
                              "default": true
                            },
                            "web_allowed": {
                              "type": "boolean"
                            },
                            "hmd_allowed": {
                              "type": "boolean"
                            },
                            "shop_bot_id": {
                              "type": "string"
                            },
                            "promo_video_aspect_ratio": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "promo_video_status": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "restream": {
                              "type": "boolean"
                            },
                            "short_description": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "featured_date": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "featured_artist": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "web_image_url": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "group_id": {
                              "type": "string",
                              "pattern": "^-?[0-9]+$",
                              "x-native-type": "bigint"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "owner_id",
                            "active",
                            "is_public",
                            "invitations_only",
                            "is_draft",
                            "payed",
                            "web_allowed",
                            "hmd_allowed",
                            "shop_bot_id",
                            "restream",
                            "group_id"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "event",
                        "data"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "done"
                        },
                        "data": {},
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "event"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "event": {
                          "const": "error"
                        },
                        "data": {},
                        "id": {
                          "type": "string"
                        },
                        "retry": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "event"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "x-is-sse": true
      }
    },
    "/api/partialEvents": {
      "get": {
        "operationId": "events.listPartialEvents",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 9007199254740991
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "current_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 9007199254740991
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_events": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "per_page": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "current_page": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "namespace": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "date": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "featured": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "brand": {
                            "type": "object",
                            "properties": {
                              "show_brand_panel": {
                                "type": "boolean"
                              },
                              "brand_title": {
                                "type": "string"
                              },
                              "brand_subtitle": {
                                "type": "string"
                              },
                              "brand_background_color": {
                                "type": "string"
                              },
                              "brand_text_color": {
                                "type": "string"
                              },
                              "brand_image_url": {
                                "type": "string"
                              },
                              "brand_background_image_url": {
                                "type": "string"
                              },
                              "brand_ad_image_url": {
                                "type": "string"
                              },
                              "brand_background_opacity": {
                                "type": "number"
                              },
                              "brand_logo_padding": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "show_brand_panel",
                              "brand_title",
                              "brand_subtitle",
                              "brand_background_color",
                              "brand_text_color",
                              "brand_image_url",
                              "brand_background_image_url",
                              "brand_ad_image_url",
                              "brand_background_opacity",
                              "brand_logo_padding"
                            ],
                            "additionalProperties": {}
                          },
                          "featured_catalogue": {
                            "type": "object",
                            "properties": {
                              "image_alignment": {
                                "type": "string"
                              },
                              "blurred_background": {
                                "type": "boolean"
                              }
                            },
                            "additionalProperties": {}
                          },
                          "organization": {
                            "type": "string"
                          },
                          "organization_image_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "owner_id": {
                            "type": "string"
                          },
                          "organization_id": {
                            "type": "string"
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "category": {
                            "type": "string"
                          },
                          "categoryImage": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "capacity": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "coordinates": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "lat": {
                                    "type": "number"
                                  },
                                  "lng": {
                                    "type": "number"
                                  }
                                },
                                "additionalProperties": {}
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_5g": {
                            "type": "boolean"
                          },
                          "imageUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "min_price": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ticket_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ticket_platform": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "map_image_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "promo_video_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "promo_video_aspect_ratio": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "has_ricoh_stream": {
                            "type": "boolean"
                          },
                          "payed": {
                            "type": "boolean"
                          },
                          "invitation_message": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "invitations_only": {
                            "type": "boolean"
                          },
                          "usersConnected": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "invitation_accepted": {
                            "type": "boolean"
                          },
                          "invitation_requested": {
                            "type": "boolean"
                          },
                          "registered": {
                            "type": "boolean"
                          },
                          "usersInterestedCount": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "banned": {
                            "type": "boolean"
                          },
                          "blocked": {
                            "type": "boolean"
                          },
                          "opened": {
                            "type": "boolean"
                          },
                          "pre_access": {
                            "type": "boolean"
                          },
                          "web_allowed": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "app_allowed": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "appUrl": {
                            "type": "string"
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": {}
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "downloads": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "total_events",
                    "per_page",
                    "current_page",
                    "events"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/events/categories": {
      "get": {
        "operationId": "events.categories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "category": {
                                "type": "string"
                              },
                              "image": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "category",
                              "image"
                            ]
                          }
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "default": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/odience": {
      "get": {
        "operationId": "odience.provisionUser",
        "parameters": [
          {
            "name": "msisdn",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/validatePhoneNumber/{msisdn}": {
      "get": {
        "operationId": "odience.validatePhoneNumber",
        "parameters": [
          {
            "name": "msisdn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msisdn": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "boolean"
                    },
                    "formatted": {
                      "type": "string"
                    },
                    "country_code": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string",
                      "default": ""
                    },
                    "code": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "msisdn",
                    "valid",
                    "formatted",
                    "country_code",
                    "code"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/mobile/categoryList": {
      "get": {
        "operationId": "odience.getCategoryList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/getStreamUrls/{streamUrlId}": {
      "get": {
        "operationId": "stream.getStreamUrls",
        "parameters": [
          {
            "name": "streamUrlId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "error": {
                      "type": "string",
                      "default": ""
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/getUserInfo": {
      "get": {
        "operationId": "user.getUserInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "number"
                    },
                    "group_id": {
                      "anyOf": [
                        {
                          "type": "string",
                          "pattern": "^-?[0-9]+$",
                          "x-native-type": "bigint"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "email": {
                      "type": "string"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "avatar": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "msisdn": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "image_uid": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_type": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "pns_settings": {
                      "type": "object",
                      "properties": {
                        "pns_event_created": {
                          "type": "boolean"
                        },
                        "pns_event_updated": {
                          "type": "boolean"
                        },
                        "pns_event_registered": {
                          "type": "boolean"
                        },
                        "pns_event_mention": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "pns_event_created",
                        "pns_event_updated",
                        "pns_event_registered",
                        "pns_event_mention"
                      ]
                    },
                    "usersReported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "usersBlocked": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "avatar": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "sip": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "avatar",
                          "sip",
                          "type"
                        ]
                      }
                    },
                    "usersBlockedBy": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "roles": {
                      "type": "object",
                      "properties": {
                        "super_admin": {
                          "type": "boolean"
                        },
                        "organizations": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "required": [
                        "super_admin",
                        "organizations"
                      ]
                    }
                  },
                  "required": [
                    "user_id",
                    "group_id",
                    "name",
                    "email",
                    "emails",
                    "avatar",
                    "msisdn",
                    "image_uid",
                    "account_type",
                    "pns_settings",
                    "usersReported",
                    "usersBlocked",
                    "usersBlockedBy",
                    "roles"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/getUserInfoByMsisdn/{msisdn}": {
      "get": {
        "operationId": "user.getUserInfoByMsisdn",
        "parameters": [
          {
            "name": "msisdn",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "avatar": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "sip": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "avatar",
                    "type",
                    "role",
                    "sip"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/web/api/eventsList": {
      "get": {
        "operationId": "web.webEventsList",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 9007199254740991
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "current_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": -9007199254740991,
              "maximum": 9007199254740991
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "namespace": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "duration": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "date": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "featured": {
                            "type": "boolean"
                          },
                          "location": {
                            "type": "string"
                          },
                          "organization": {
                            "type": "string"
                          },
                          "organization_image_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "owner_id": {
                            "type": "string"
                          },
                          "organization_id": {
                            "type": "string"
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "category": {
                            "type": "string"
                          },
                          "categoryImage": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "capacity": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "is_5g": {
                            "type": "boolean"
                          },
                          "imageUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "min_price": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ticket_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "ticket_platform": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "map_image_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "promo_video_url": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "promo_video_aspect_ratio": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "has_ricoh_stream": {
                            "type": "boolean"
                          },
                          "payed": {
                            "type": "boolean"
                          },
                          "invitation_message": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "invitations_only": {
                            "type": "boolean"
                          },
                          "usersConnected": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "complete": {
                            "type": "boolean"
                          },
                          "invitation_accepted": {
                            "type": "boolean"
                          },
                          "invitation_requested": {
                            "type": "boolean"
                          },
                          "registered": {
                            "type": "boolean"
                          },
                          "usersInterestedCount": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "banned": {
                            "type": "boolean"
                          },
                          "blocked": {
                            "type": "boolean"
                          },
                          "opened": {
                            "type": "boolean"
                          },
                          "pre_access": {
                            "type": "boolean"
                          },
                          "web_allowed": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "app_allowed": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "appUrl": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "downloads": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
